            @model VidlyApp.Models.Movie

            @{
                ViewBag.Title = "Details";
                Layout = "~/Views/Shared/_AdminPage.cshtml";
            }

            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <hr />
            <ul>


                <li>
                    Genre: @Html.DisplayFor(model => model.Genre.Name)
                </li>


                <li>
                    Date Added To Stock: @Model.DateAdded.ToLongDateString()
                </li>



                <li>
                    Date Released: @Model.ReleaseDate.ToLongDateString()
                </li>

                <li>
                    Number in Stock: @Html.DisplayFor(model => model.NumberInStock)
                </li>


                <li>
                    Number Available In Stock: @Html.DisplayFor(model => model.NumberAvailable)
                </li>

            </ul>

            <p>

                @Html.ActionLink("Back to List", "Index")
            </p>
