                @model VidlyApp.Models.Customer

                @{
                    ViewBag.Title = "Details";
                    Layout = "~/Views/Shared/_AdminPage.cshtml";
                }

                    <h2>@Html.DisplayFor(model => model.Name)</h2>

                <div>
    
                    <hr />
                    <ul>
         

                        <li>
                            Membership Type : @Html.DisplayFor(model => model.MembershipType.Name)
                        </li>        

        

                        <li>
                             Subscribed To News Letter : @Html.DisplayFor(model => model.IsSubscribedToNewsletter)
                        </li>

         

                        <li>
                           Date Of Birth :  @Html.DisplayFor(model => model.Birthdate)
                        </li>

                    </ul>
                </div>
        <p>
    
            @Html.ActionLink("Back to List", "Index")
        </p>
